<!DOCTYPE html>
<html>
<!--大标题和JS-->
<include file="Public/head" />

<!--前左导航-->
<include file="Public/body" />

  <div class="layui-body">
    <!-- 内容主体区域 -->
    <h1><div style="padding: 15px;">余杭区金融积分考核系统</div></h1>
    
    <br />
    	&nbsp&nbsp&nbsp
    	
    	<a href="__URL__/indexlungang" class="layui-btn layui-btn-warm layui-btn-radius"><span>金融</span></a>&nbsp&nbsp&nbsp

			<br  />
			
			<!--<input type="text" id="test6">-->
			
  </div>
  
<!--底部-->
<include file="Public/footer" />