<!DOCTYPE html>
<html>
<!--大标题和JS-->
<include file="Public/head" />

<!--前左导航-->
<include file="Public/body" />

  <div class="layui-body">
    <!-- 内容主体区域 -->
    <h1><div style="padding: 15px;">余杭区人力资源系统</div></h1>
    
    <br />
        <form action="{:U('persmodifysuc')}" enctype="multipart/form-data" method="post" class="layui-form" >
         <table class="layui-table" lay-size="">
         	<input type="hidden" name="gonghao" value="{$data['gonghao']}">
         	<tr>
         	 <th>单位</th>
         	 <td>
         	 	<select name="dwname" lay-verify="required" lay-search>
         	 		<option value="{$data['jgh']}">{$data['dwname']}</option>
         	 		<volist name="drr" id="vo">
              <option value="{$vo.jgh}">{$vo.dwname}</option>
             </volist>
            </select>
         	 </td>
         	 <th>职务</th>
         	 <td>
         	 	<select name="zhiwu" lay-verify="required" lay-search>
         	 		<option value="{$data['zhiwud']}">{$data['zhiwu']}</option>
         	 		<volist name="zrr" id="vo">
              <option value="{$vo.zhiwud}">{$vo.zhiwu}</option>
             </volist>
            </select>
         	 </td>
         	 <th>工种</th>
         	 <td>
         	 	<select name="gongzhong" lay-verify="required" lay-search disabled="disabled">
         	 		<option value="{$data['gongzhongd']}">{$data['gongzhong']}</option>
            </select>
         	 </td>
         	 <th>调动说明</th>
         	 	<td><input type="text" name="exp" placeholder="请输入调动说明" autocomplete="off" class="layui-input"> </td>
         	</tr>
         	<tr>
         	 <th>员工姓名</th>
         	 <td><input type="text" name="persname" disabled="disabled" value="{$data['persname']}" required lay-verify="required" placeholder="请输入员工姓名" autocomplete="off" class="layui-input"> </td>
         	 <th>人力编号</th>
         	 <td><input type="text" name="gonghao" disabled="disabled" value="{$data['gonghao']}" required lay-verify="" placeholder="请输入人力编号" autocomplete="off" class="layui-input"></td>
         	 <th>开始日期</th>
         	 <td>
         	 	<input type="text" name="date" id="date" placeholder="请点击选择日期" autocomplete="off" required lay-verify="" class="layui-input">
         	 </td>
         	 <th>结束日期</th>
         	 <td><input type="text" name="dateo" id="date1" placeholder="请点击选择日期" autocomplete="off" class="layui-input"></td>
         	</tr>
         </table>
         <br />
         <div class="layui-form-item" style="margin-left:360px;">
           <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo">立即修改</button>
            <button type="reset" class="layui-btn layui-btn-primary">数据重置</button>
           </div>
         </div>
        </form>
  </div>
<!--底部-->
<include file="Public/footer" />