<!DOCTYPE html>
<html>
<!--大标题和JS-->
<include file="Public/login/head" />

<!--前左导航-->
<include file="Public/login/body" />

  <div class="layui-body">
    <!-- 内容主体区域 -->
    <h1><div style="padding: 15px;">余杭区金融积分考核系统</div></h1>
    	<fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
			  <legend>积分上报</legend>
			</fieldset>
    	<volist name="data" id="vo">
    	<a href="__URL__/jrpointups/pointitemid/{$vo.pointitemid}" class="layui-btn layui-btn-normal"><span>{$vo.item}</span></a>&nbsp&nbsp&nbsp
      </volist>
  </div>
  
<!--底部-->
<include file="Public/login/footer" />