<!DOCTYPE html>
<html>
<!--大标题和JS-->
<include file="Public/head" />

<!--前左导航-->
<include file="Public/body" />
  <div class="layui-body">
    <!-- 内容主体区域 -->
    <div style="padding: 15px;"><h1>单位信息管理</h1></div>
    
    <h2>单位信息</h2>
    
    <hr class="layui-bg-red">
        <table lay-filter="tablecx" class="layui-table" style="width: 80%">
        	<thead>
        	<tr>
        		<th>序号</th>
        		<th lay-data="{field:'dwname', width:120, sort:true}">单位</th>
        		<th>单位机构号</th>
        		<th>单位原机构号</th>
        		<th>季度完成量</th>
        		<th colspan="3">操作</th>
        	</tr>
        	</thead>
        	<volist name="dwname" id="vo">
        	<tr>
        		<td>{$vo.id}</td>
        		<td>{$vo.dwname}</td>
        		<td>{$vo.jgh}</td>
        		<td>{$vo.yjgh}</td>
        		<td>{$vo.target}</td>
        		<td>新增</td>
        		<td>修改</td>
        		<td><font color="#CC0000">删除(谨慎)</font></td>
        	</tr>
        	</volist>
        </table>
  </div>
<!--底部-->
<include file="Public/footer" />