<!DOCTYPE html>
<html>
<!--大标题和JS-->
<include file="Public/head" />

<!--前左导航-->
<include file="Public/body" />
  <div class="layui-body">
    <!-- 内容主体区域 -->
    <div style="padding: 15px;"><h1>数据分析</h1></div>
    
    <h2>车险客户查询</h2>
    
    <hr class="layui-bg-red">
        <table lay-filter="tablecx" class="layui-table" style="width: 80%">
        	<thead>
        	<tr>
        		<th lay-data="{field:'dwname', width:120, sort:true}">单位</th>
        		<th>客户姓名</th>
        		<th>客户电话</th>
        		<th>车牌</th>
        		<th lay-data="{field:'bxdq', width:180, sort:true}">保险到期日</th>
        		<th>保险公司</th>
        		<th>总计金额</th>
        	</tr>
        	</thead>
        	<volist name="data" id="vo">
        	<tr>
        		<td>{$vo.dwname}</td>
        		<td>{$vo.kh}</td>
        		<td>{$vo.khphone}</td>
        		<td>{$vo.chepai}</td>
        		<td>{$vo.bxdq}</td>
        		<td>{$vo.insur}</td>
        		<td>{$vo.sum}</td>
        	</tr>
        	</volist>
        	<tr>
        		<th></th>
        		<th>总计</th>
        		<th></th>
        		<th></th>
        		<th></th>
        		<th></th>
        		<th></th>
        	</tr>
        </table>
        <br />
        <a href="__URL__/carpersinfodqtscxdl" class="layui-btn">立即下载</a>
        
  </div>
<!--底部-->
<include file="Public/footer" />