<!DOCTYPE html>
<html>
<!--大标题和JS-->
<include file="Public/head" />

<!--前左导航-->
<include file="Public/body" />

  <div class="layui-body">
    <!-- 内容主体区域 -->
    <h1><div style="padding: 15px;">余杭区邮政存货管理系统</div></h1>
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
				<legend>产品调拨查询</legend>
		</fieldset>
    		<table class="layui-table" style="text-align: center; width: 100%;">
					      <!--<colgroup>
					       <col width="10%">
					       <col width="10%">
					       <col width="7%">
					       <col width="10%">
					       <col width="10%">
					       <col width="10%">
					       <col width="8%">
					       <col width="8%">
					       <col width="15%">
					       <col width="8%">
					       <col width="10%">
					      </colgroup>-->
					    <tr>
					    	<td>出库单位</td>
					    	<td>入库单位</td>
								<td>产品单位</td>
								<td>产品名称</td>
								<td>产品单位</td>
								<td>仓库名称</td>
								<td>调拨数量</td>
								<td>调拨状态</td>
								<td>调拨日期</td>
								<td>操作</td>
							</tr>
							<volist name="data" id="vo">
							<tr>
								<!--<td><input type="checkbox" name="id[]" value="{$vo.pianquname}" lay-skin="primary"></td>-->
								<td>{$vo.applydwname}</td>
								<td>{$vo.applytodwname}</td>
								<td>{$vo.productdwname}</td>
								<td>{$vo.productname}</td>
								<td>{$vo.unit}</td>
								<td>{$vo.warehouse}</td>
								<td>{$vo.sjapplyquantity}</td>
								<td>{$vo.shenhe}</td>
								<td>{$vo.date}</td>
								<td>
									<if condition="$vo.shenhe eq '待调拨'">
										<a href="__URL__/dwinalloterr/outallotid/{$vo.outallotid}"><font color="#CC0000">取消</font></a>
									<else />
										已确认
									</if>
								</td>
							</tr>
							</volist>
					  </table>
  				</div>
  
<!--底部-->
<include file="Public/footer" />