<!DOCTYPE html>
<html>
<!--大标题和JS-->
<include file="Public/head" />

<!--前左导航-->
<include file="Public/body" />

  <div class="layui-body">
    <!-- 内容主体区域 -->
    <h1><div style="padding: 15px;">余杭区邮政存货管理系统</div></h1>
    
    <br />
    <form class="layui-form" action="{:U('dwoutallotsuc')}" name="formibs" method="post" style="width: 100%;">
						<table class="layui-table" style="text-align: center; width: 100%;">
					    <tr>
					    	<td>选择</td>
								<td>单位名称</td>
								<td>产品名称</td>
								<td>产品单位</td>
								<td>仓库名称</td>
								<td>出库数量</td>
								<td>库存总量</td>
								<td>状态</td>
							</tr>
							<volist name="data" id="vo">
							<tr>
								<input type="hidden" name="productid[]" value="{$vo.productid}">
								<input type="hidden" name="warehouseid[]" value="{$vo.warehouseid}">
								<input type="hidden" name="kcapplyquantity[]" id="f{$vo.kcapplyquantity}" value="{$vo.kcapplyquantity}">
								<td><input type="checkbox" name="outboundid[]" id="b{$vo.outboundid}" value="{$vo.outboundid}" lay-skin="primary"></td>
								<td>{$vo.applydwname}</td>
								<td>{$vo.productname}</td>
								<td>{$vo.unit}</td>
								<td>{$vo.warehouse}</td>
								<td><input type="text" name="{$vo.outboundid}" readonly="" id="c{$vo.outboundid}" onclick="e{$vo.outboundid}()" onblur="a{$vo.outboundid}()" lay-verify="" placeholder="请输入实际入库数量" autocomplete="off" class="layui-input"></td>
								<td>{$vo.kcapplyquantity}</td>
								<td><input class="layui-input" type="text" id="d{$vo.outboundid}" readonly="true"></td>
							</tr>
					  <div class="layui-form-item">
		  </div>
<script type="text/javascript">
			function e{$vo.outboundid}(){
				
				<volist name="datas" id="voi">
				if(document.getElementById("b{$voi.outboundid}").checked){
					
					document.getElementById("c{$voi.outboundid}").removeAttribute("readonly");
				}else{
					document.getElementById("c{$voi.outboundid}").readOnly = 'true';
				}
				</volist>
			}
      function a{$vo.outboundid}(){
      	<volist name="datas" id="voi">
      		if(document.getElementById("b{$voi.outboundid}").checked){
      			var outapplyquantity = parseInt(document.getElementById("c{$voi.outboundid}").value);
      			var kcapplyquantity = parseInt(document.getElementById("f{$voi.kcapplyquantity}").value);
      			if(outapplyquantity <= kcapplyquantity){
      				document.getElementById("d{$voi.outboundid}").value = '通过';
      				
      			}else if(outapplyquantity == 0){
      				document.getElementById("d{$voi.outboundid}").value = '请输入正确的数字';
      				document.getElementById("c{$voi.outboundid}").value = '';
      			}else{
      				document.getElementById("d{$voi.outboundid}").value = '超过库存数';
      				document.getElementById("c{$voi.outboundid}").value = '';
      			}
      		}
      	</volist>
	    }
      	
</script>
</volist>
</table>
<br />
 				<div class="layui-input-block" style="margin-left:360px;">
		      <button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
		      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
		    </div>
		    </form>
</div>
</body>
</html>
<!--<include file="Public/footer" />-->