<!DOCTYPE html>
<html>
<!--大标题和JS-->
<include file="Public/head" />

<!--前左导航-->
<include file="Public/body" />

  <div class="layui-body">
    <!-- 内容主体区域 -->
    <h1><div style="padding: 15px;">余杭区邮政存货管理系统</div></h1>
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
		<legend>库存产品费用报表</legend>
	</fieldset>
	<fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
		<legend>报表日期：{$date} -- {$dates}</legend>
	</fieldset>
	<br />
	<div class="layui-card-body">
    <form class="layui-form" action="selectss" method="get"  style="width: 100%;">
						<table class="layui-table" style="text-align: center; width: 90%;">
					      <!--<colgroup>
					       <col width="10%">
					       <col width="10%">
					       <col width="7%">
					       <col width="10%">
					       <col width="10%">
					       <col width="10%">
					       <col width="8%">
					       <col width="8%">
					       <col width="15%">
					       <col width="8%">
					       <col width="10%">
					      </colgroup>-->
					    <tr>
								
								<td>产品名称</td>
								<td>期初库存不含税</td>
								<td>期初库存含税</td>
								<td>本期出库不含税</td>
								<td>本期出库含税</td>
								<td>本期入库不含税</td>
								<td>本期入库含税</td>
								<td>期末结余不含税</td>
								<td>期末结余含税</td>
								
							</tr>
							<volist name="data" id="vo">
							<tr>
								<!--<td><input type="checkbox" name="id[]" value="{$vo.pianquname}" lay-skin="primary"></td>-->
								
								
								<td>{$vo.productname}</td>
								<td>{$vo.vatcost}</td>
								<td>{$vo.cost}</td>
								<td>{$vo.vatcostck}</td>
								<td>{$vo.costck}</td>
								<td>{$vo.vatcostrk}</td>
								<td>{$vo.costrk}</td>
								<td>{$vo.vatcostend}</td>
								<td>{$vo.costend}</td>
							</tr>
							
							</volist>
							
					  </table>
		<!--<div class="layui-form-item">
		    	<div class="layui-input-block">
		      <button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
		      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
		    	</div>
		  	</div>-->
		  </form>
		</div>
  </div>
  
<!--底部-->
<include file="Public/footer" />