<!DOCTYPE html>
<html>
<!--大标题和JS-->
<include file="Public/head" />

<!--前左导航-->
<include file="Public/body" />

  <div class="layui-body">
    <!-- 内容主体区域 -->
    <h1><div style="padding: 15px;">余杭区人力资源系统</div></h1>
    
    <br />
    	&nbsp&nbsp&nbsp
    	
    	<a href="__URL__/indexjr" class="layui-btn layui-btn-warm layui-btn-radius"><span>金融</span></a>&nbsp&nbsp&nbsp
              
      <a href="__URL__/indexyy" class="layui-btn layui-btn-warm layui-btn-radius"><span>营业</span></a>&nbsp&nbsp&nbsp
              
      <a href="__URL__/indextd" class="layui-btn layui-btn-warm layui-btn-radius"><span>投递</span></a>&nbsp&nbsp&nbsp
              
      <a href="__URL__/indexjg" class="layui-btn layui-btn-warm layui-btn-radius"><span>机关</span></a>&nbsp&nbsp&nbsp
              
      <a href="__URL__/indexzyj" class="layui-btn layui-btn-warm layui-btn-radius"><span>专业局</span></a>&nbsp&nbsp&nbsp
              
      <a href="__URL__/indexfj" class="layui-btn layui-btn-warm layui-btn-radius"><span>分局</span></a>&nbsp&nbsp&nbsp
              
      <a href="__URL__/indexyz" class="layui-btn layui-btn-normal layui-btn-radius"><span>全局</span></a>&nbsp&nbsp&nbsp
      
      
  </div>
  
<!--底部-->
<include file="Public/footer" />