<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
    <div class="layui-logo">余杭区邮政存货管理系统</div>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <ul class="layui-nav layui-layout-left">
      <li class="layui-nav-item"><a href="">控制台</a></li>
      <li class="layui-nav-item"><a href="">管理</a></li>
      <li class="layui-nav-item"><a href="">用户管理</a></li>
      <li class="layui-nav-item">
        <a href="javascript:;">其它系统</a>
        <dl class="layui-nav-child">
          <dd><a href="../../../../../HR/index.php/home/login/login">人力资源系统</a></dd>
          <dd><a href="../../../../../jrhr/index.php/home/login/login">金融考核系统</a></dd>
          <!--<dd><a href="../../../../../cost/index.php/home/login/login">费用分摊系统</a></dd>-->
        </dl>
      </li>
    </ul>
    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item">
        <a href="javascript:;">
          <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                      {$user.username}
        </a>
        <dl class="layui-nav-child">
          <dd><a href="">基本资料</a></dd>
          <dd><a href="">安全设置</a></dd>
        </dl>
      </li>
      <li class="layui-nav-item"><a href="__URL__/logout">退了</a></li>
    </ul>
  </div>
  
  <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <ul class="layui-nav layui-nav-tree"  lay-filter="test">
      	<li class="layui-nav-item"><a href="__URL__/index">首页</a></li>
        <li class="layui-nav-item">
          <if condition="$user.qx egt 9"><a class="" href="javascript:;">财务报表</a><else /></if>
          <dl class="layui-nav-child">
            <dd><a href="__URL__/financedwreportdate">按单位库存财务报表</a></dd>
            <dd><a href="__URL__/financewhreportdate">按仓库库存财务报表</a></dd>
            <dd><a href="__URL__/inboundreportdate">按日期入库库存财务报表</a></dd>
            <dd><a href="__URL__/">库存报表</a></dd>
            <!--<dd><a href="__URL__/financereportall">按单位礼品报表</a></dd>
            <dd><a href="__URL__/financewarehouse">按单位消耗品报表</a></dd>-->
          </dl>
        </li>
        <li class="layui-nav-item">
          <if condition="$user.qx egt 9"><a class="" href="javascript:;">导出数据</a><else /></if>
          <dl class="layui-nav-child">
            <dd><a href="__URL__/tablepers">导出报表</a></dd>
          </dl>
        </li>
        <!--<li class="layui-nav-item"><a href="__URL__/select">测试</a></li>-->
      </ul>
    </div>
  </div>