<!DOCTYPE html>
<html>
<!--大标题和JS-->
<include file="Public/head" />

<!--前左导航-->
<include file="Public/body" />
  <div class="layui-body">
    <!-- 内容主体区域 -->
    <div style="padding: 15px;"><h1>数据分析</h1></div>
    
    <h2>网点数据分析</h2>
    
    <hr class="layui-bg-red">
        <table class="layui-table" style="width: 60%">
          <colgroup>
            <col width="120">
            <col width="80">
            <col width="100">
            <col width="60">
            <col width="100">
          </colgroup>
          <thead>
        	<tr>
        		<th>汇总</th>
        	</tr>
        	</thead>
        	<thead>
        	<tr>
        		<th>机构名称</th>
        		<th>机构号</th>
        		<th>未回收数</th>
        		<th>下载状态</th>
        		<th>操作</th>
        	</tr>
        	</thead>
        	<volist name="collect" id="vo">
        		<tr>
        			<td>{$vo.dwname}</td>
        			<td>{$vo.jgh}</td>
        			<td>{$vo.countjgh}</td>
        			<td><if condition="$vo.xksave eq 0"><else /><font color="#CC0000">已下载</font></if></td>
        			<!--<td></font></td>-->
        			<td><a href="__URL__/xkvalids/jgh/{$vo.jgh}">数据导出</a></td>
        		</tr>
        	</volist>
        </table>
  </div>
<!--底部-->
<include file="Public/footer" />