<!DOCTYPE html>
<html>
<!--大标题和JS-->
<include file="Public/head" />

<!--前左导航-->
<include file="Public/body" />

  <div class="layui-body">
    <!-- 内容主体区域 -->
    <include file="Public/login/title" />
    
    <br />
    <div class="layui-card-body">
    <form action="{:U('persadd')}" enctype="multipart/form-data" method="post" class="layui-form" >
    	<button class="layui-btn" lay-submit lay-filter="formDemo">员工新增</button>
    </form>
						<table class="layui-table" style="text-align: center; width: 100%;">
					    <tr>
					    	<td>区县</td>
								<td>部门</td>
								<td>姓名</td>
								<td>工号</td>
								<td>职务</td>
								<td>工种</td>
							</tr>
							<volist name="data" id="vo">
							<tr>
								<td>{$vo.district}</td>
								<td>{$vo.dwname}</td>
								<td>{$vo.persname}</td>
								<td>{$vo.gonghao}</td>
								<td>{$vo.zhiwu}</td>
								<td>{$vo.gongzhong}</td>
							</tr>
							</volist>
					  </table>
  </div>
  </div>
  
<!--底部-->
<include file="Public/footer" />