<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<include file="Public/login/head" />
</head>
	<body>
		<include file="Public/login/header" />
        <div id="contentwrapper" class="contentwrapper">
		  	<fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
				<legend>工号查询</legend>
			</fieldset>
        </div>
        
        	<div style="margin-left: 5%;width: 100%;">
				<div class="layui-form-item">
					<label class="layui-label" ><font size="4" color="#CC0000">您的工号是：{$dwname['gonghao']}</font></label>
				</div>
			</div>
        
	</body>
</html>