<!DOCTYPE html>
<html>
<!--大标题和JS-->
<include file="Public/head" />

<!--前左导航-->
<include file="Public/body" />
  <div class="layui-body">
    <!-- 内容主体区域 -->
    <div style="padding: 15px;"><h1>开户信息上传</h1></div>
    
    <h2>开户信息上传</h2>
    
    <hr class="layui-bg-red">
        <form action="{:U('jraccountinfoups')}" enctype="multipart/form-data" method="post" >
        <input type="file" name="exl" />
        <br /><br />
         <button class="layui-btn" lay-submit lay-filter="formDemo">信息上传</button>
        </form>
        <br />
        <br />
    <h2>客户1元以上信息前上传</h2>
    
    <hr class="layui-bg-red">
        <form action="{:U('jrclientassetsoldups')}" enctype="multipart/form-data" method="post" >
        <input type="file" name="exl" />
        <br /><br />
         <button class="layui-btn" lay-submit lay-filter="formDemo">信息上传</button>
        </form>
        <br />
        <br />
    <h2>客户1元以上信息后上传</h2>
    
    <hr class="layui-bg-red">
        <form action="{:U('jrclientassetsups')}" enctype="multipart/form-data" method="post" >
        <input type="file" name="exl" />
        <br /><br />
         <button class="layui-btn" lay-submit lay-filter="formDemo">信息上传</button>
        </form>
        <br />
        <br />
  </div>
<!--底部-->
<include file="Public/footer" />