<!DOCTYPE html>
<html>
<!--大标题和JS-->
<include file="Public/login/head" />

<!--前左导航-->
<include file="Public/login/body" />

  <div class="layui-body">
    <!-- 内容主体区域 -->
<include file="Public/title" />

        <form action="{:U('etccustrefereeaddsuc')}" enctype="multipart/form-data" method="post" class="layui-form" >
        <div class="layui-card" style="width: 100%;">
        	<div class="layui-card-header">
        		<font size="4">ETC客户引荐录入</font>
        	</div>
        <div class="layui-card-body">
		<table class="layui-table" lay-size="">
			<tr>
				<th>
					<font color="#FF0000">*</font>车主车牌
				</th>
				<td>
					<input type="text" name="carcard" id="carcard" onblur="carcards()" required lay-verify=""
						placeholder="请输入行驶证车牌" autocomplete="off" class="layui-input">
				</td>
				<th>
					<font color="#FF0000">*</font>客户联系电话
				</th>
				<td>
					<input type="text" name="carphone" required lay-verify="number" placeholder="请输入客户联系电话" autocomplete="off"
						class="layui-input">
				</td>
				<th>
					行驶证车主姓名
				</th>
				<td>
					<input type="text" name="carcustname" lay-verify="" placeholder="请输入行驶证车主姓名"
						autocomplete="off" class="layui-input">
				</td>
				<th>
					行驶证车主身份证
				</th>
				<td>
					<input type="text" name="carsfz" id="carsfz" placeholder="请输入行驶证车主身份证"
						autocomplete="off" class="layui-input">
				</td>
		
			</tr>
		
		
			<tr>
		
				<th>备注</th>
				<td colspan="7">
					<textarea placeholder="请输入需要备注的内容" class="layui-textarea" name="beizhu"></textarea>
				</td>
		
			</tr>
		
		</table>
         </div>
         
         </div>
         <br />
         <div class="layui-form-item" style="margin-left:360px;">
           <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
           </div>
         </div>
        </form>
  </div>
  <div class="layui-footer">
    <!-- 底部固定区域 -->
    © 余杭区金融积分考核系统
  </div>
<script src="/jrhr/Public/layui.all.js"></script>

<script>
	
	function carcards(){
		var carcarda = document.getElementById("carcard").value;
		isInArray(crr,drr,carcarda);
		// isInreferee(drr,carcarda);
	}
	var crr = {$carcard};
	var drr = {$carcardre};
	function isInArray(crr,drr,value){
		for(var i = 0; i< crr.length; i++){
			if(value.toUpperCase() == crr[i]){
				// console.log(crr[i]);
				document.getElementById("carcard").value = "";
				alert("该车辆已经存在，请核对后输入");
				return;
			}
		}
		for(var i = 0; i< drr.length; i++){
			if(value.toUpperCase() == drr[i]){
				// console.log(crr[i]);
				document.getElementById("carcard").value = "";
				alert("该车辆已经存在，请核对后输入");
			}
		}
	}
	// var drr = {$carcardre}
	// function isInreferee(drr,value){
	// 	for(var i = 0; i< drr.length; i++){
	// 		if(value.toUpperCase() == drr[i]){
	// 			// console.log(crr[i]);
	// 			document.getElementById("carcard").value = "";
	// 			alert("该车辆已经存在，请核对后输入");
	// 		}
	// 	}
	// }
// 	layui.use('element', function(){
//   var element = layui.element;
  
// 	});
	
// 	layui.use('form', function(){
// 	  var form = layui.form;
// 	  //获取types1控件中的数据
// 		form.on('select(types1)', function(data){
// 			var datas = eval({$insr});
// 			for(i = 0 ; i < datas.length ; i++){
				
// 				if(data.value == datas[i].insuranceid){
// 					document.getElementById("payment2").value = datas[i].pay + '年';
					
// 					document.getElementById("duration2").value = datas[i].dur + '年';
					
// 					document.getElementById("insurance2").value = datas[i].insurance;
					
// 					//alert(datas[i].dur);
// 					break;
// 				}
// 			}
			
// 		});
  
// 	});
	layui.use('laydate', function(){
	  var laydate = layui.laydate;
	  
	  //执行一个laydate实例
	  laydate.render({
	    elem: '#date' //指定元素
	  });
	  laydate.render({
	    elem: '#date1' //指定元素
	  });
	  laydate.render({
	  	elem: '#test6'
	  	,range: true
		});
	});
	
	// layui.use('form', function(){
	//   var form = layui.form;
	//   //获取types1控件中的数据
	// 	form.on('select(servicebak1)', function(data){
	// 		if(document.getElementById("xszb").style.visibility == "visible"){
				
	// 		}else{
	// 			document.getElementById("xszb").style.visibility = "visible";
	// 			document.getElementById("xszb1").style.visibility = "visible";
	// 			document.getElementById("percentagebak").value = "0.5";
	// 		}
			
			
	// 	});
  
	// });
	
</script>
<!--底部-->
</body>
</html>