<!DOCTYPE html>
<html>
<!--大标题和JS-->
<include file="Public/login/head" />

<!--前左导航-->
<include file="Public/login/body" />

  <div class="layui-body">
    <!-- 内容主体区域 -->
<include file="Public/title" />
    	<fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
			  <legend>积分审核</legend>
			</fieldset>
    	<volist name="data" id="vo">
    	<a href="__URL__/jrpointupshs/date/{$vo.date}" class="layui-btn layui-btn-normal"><span>{$vo.date}</span></a>&nbsp&nbsp&nbsp
      </volist>
  </div>
  
<!--底部-->
<include file="Public/login/footer" />