<!DOCTYPE html>
<html>
<!--大标题和JS-->
<include file="Public/login/head" />

<!--前左导航-->
<include file="Public/login/body" />

  <div class="layui-body">
    <!-- 内容主体区域 -->
<include file="Public/title" />

        <form action="{:U('whitecustaddsuc')}" enctype="multipart/form-data" method="post" class="layui-form" >
        <div class="layui-card" style="width: 100%;">
        	<div class="layui-card-header">
        		<font size="4">白名单客户录入</font>
        	</div>
        <div class="layui-card-body">
        <table class="layui-table" lay-size="">
         	<tr>
         	 <th><font color="#FF0000">*</font>身份证</th>
         	 <td>
         	 	<input type="text" name="sfz" id="sfz" required lay-verify="identity" placeholder="请输入客户身份证" autocomplete="off" class="layui-input">
         	 </td>
         	 <th><font color="#FF0000">*</font>客户姓名</th>
         	 <td>
         	 	<input type="text" name="custname" required lay-verify="required" placeholder="请输入客户姓名" autocomplete="off" class="layui-input">
         	 </td>
         	 <th><font color="#FF0000">*</font>联系电话</th>
         	 <td>
         	 	<input type="text" name="phone" required lay-verify="number" placeholder="请输入客户联系方式" autocomplete="off" class="layui-input">
         	 </td>
         	 <th><font color="#FF0000">*</font>客户地址</th>
         	 <td>
         	 	<input type="text" name="address" required lay-verify="required" placeholder="请输入客户地址" autocomplete="off" class="layui-input">
         	 </td>
         	 </tr>
         	 	
         	 	<tr>
         	 <th><font color="#FF0000">*</font>村社名称</th>
         	 <td>
         	 	<select name="village" lay-verify="required" lay-search>
         	 		<option value=""></option>
         	 		<volist name="jvrr" id="vo">
              <option value="{$vo.villageid}">{$vo.village}</option>
             	</volist>
            </select>
         	 </td>
         	 <th><font color="#FF0000">*</font>客户来源</th>
         	 <td>
         	 	<select name="source" lay-verify="required" lay-search>
         	 		<option value=""></option>
         	 		<volist name="jsrr" id="vo">
              <option value="{$vo.sourceid}">{$vo.source}</option>
             	</volist>
            </select>
			  </td>
			</td>
			<th><font color="#FF0000">*</font>资金来源</th>
			<td>
				<select name="fundsource" lay-verify="required" lay-search>
					<option value=""></option>
					<volist name="jfsr" id="vo">
			<option value="{$vo.fundsourceid}">{$vo.fundsource}</option>
			   </volist>
		  </select>
         	</td>
         	 <th>维护方式</th>
         	 <td>
         	 	<select name="maintenance" lay-search>
         	 		<option value=""></option>
         	 		<volist name="jmrr" id="vo">
              <option value="{$vo.maintenanceid}">{$vo.maintenance}</option>
             	</volist>
            </select>
			  </td>
			
         	 
         	 
         	 
         	</tr>
         	
         	 <tr>
				<th>意向产品</th>
				<td colspan="7">
						<volist name="jprr" id="vo">
							
							<input type="checkbox" name="product[{$vo.productid}]" title="{$vo.product}">
						</volist>
				</td>
			</tr>
			<tr>
         	 <th>备注</th>
         	 <td colspan="7">
				<input type="text" name="beizhu" placeholder="备注" autocomplete="off" class="layui-input">
         	 </td>
         	 
         	</tr>
         	
         </table>
         </div>
         
         </div>
         <br />
         <div class="layui-form-item" style="margin-left:360px;">
           <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
           </div>
         </div>
        </form>
  </div>
  <div class="layui-footer">
    <!-- 底部固定区域 -->
    © 余杭区金融积分考核系统
  </div>
<script src="/jrhr/Public/layui.all.js"></script>

<script>
	function sfzs(){
		var sfza = document.getElementById("sfz").value;
		
		isInArray(arr,sfza);
	}
	
	var arr = {$sfz};
	
	function isInArray(arr,value){
		
		for(var i = 0; i < arr.length; i++){
	        if(value == arr[i]){
	        	
	        	//alert('此用户已存在');
	        	
	        	if(confirm("此客户已存在,是否继续添加详细信息?")){
	        	
            window.location= "whitecustmodify?sfz="+arr[i]+"";
            
            }else{
            	
            	document.getElementById("sfz").value = '';
            	
            }
	            //return true;
	        }
	            //return true;
	    }
	}
	
	layui.use('element', function(){
  var element = layui.element;
  
	});
	
	layui.use('form', function(){
	  var form = layui.form;
	  //获取types1控件中的数据
		form.on('select(types1)', function(data){
			var datas = eval({$insr});
			for(i = 0 ; i < datas.length ; i++){
				
				if(data.value == datas[i].insuranceid){
					document.getElementById("payment2").value = datas[i].pay + '年';
					
					document.getElementById("duration2").value = datas[i].dur + '年';
					
					document.getElementById("insurance2").value = datas[i].insurance;
					
					//alert(datas[i].dur);
					break;
				}
			}
			
		});
  
	});
	layui.use('laydate', function(){
	  var laydate = layui.laydate;
	  
	  //执行一个laydate实例
	  laydate.render({
	    elem: '#date' //指定元素
	  });
	  laydate.render({
	  	elem: '#test6'
	  	,range: true
		});
	});
	
	layui.use('form', function(){
	  var form = layui.form;
	  //获取types1控件中的数据
		form.on('select(servicebak1)', function(data){
			if(document.getElementById("xszb").style.visibility == "visible"){
				
			}else{
				document.getElementById("xszb").style.visibility = "visible";
				document.getElementById("xszb1").style.visibility = "visible";
				document.getElementById("percentagebak").value = "0.5";
			}
			
			
		});
	});
</script>
<!--底部-->
</body>
</html>