<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<include file="Public/login/head" />
</head>
	<body>
		<include file="Public/login/header" />
         <div id="contentwrapper" class="contentwrapper">
		  <div class="contenttitle2">
            <h3>密码修改</h3>
          </div><!--contenttitle-->
            <form action="__URL__/passwordeditsuc" method="post">
                <table cellpadding="2" cellspacing="5" border="5" class="stdtable" id="dyntable2" style="width: 35%">
					<colgroup>
                        <col class="con0" style="width: 20%"/>
                        <col class="con1" style="width: 50%"/>
                    </colgroup>
					<tr class="odd gradeA">
						<td>机构单位</td>
						<td>{$drr.dwname}</td>
					</tr>
					<tr>
						<td>机构号</td>
						<td>{$drr.jgh}</td>
					</tr>
					<tr>
						<td>旧密码</td>
						<td><input type="password" name="jpw"></td>
					</tr>
					<tr>
						<td>新密码</td>
                        <td>
                            <input type="password" width="50px" name="npw">
                        </td>
					</tr>
					<tr>
						<td>确认密码</td>
						<td>
							<input type="password" width="50px" name="xnpw">
						</td>
					</tr>
                        <input type="hidden" name="gonghao" value="{$prr[0]['gonghao']}">
                        <input type="hidden" name="persname" value="{$prr[0]['persname']}">
                        <input type="hidden" name="danwei" value="{$prr[0]['danwei']}">
                        <input type="hidden" name="gongzhonga" value="{$prr[0]['gongzhonga']}">
                        <input type="hidden" name="zhiwua" value="{$prr[0]['zhiwua']}">
                        <input type="hidden" name="sname" value="{$sname}">
                        <input type="hidden" name="spath" value="{$spath}">
                        </table>
                        <p class="stdformbutton">
                        	<button class="submit radius2">提交修改</button>
                        	<a href="__URL__/index" class="btn btn_orange btn_home"><span>返回</span></a></p>
                        </p>
                        
                    </form>
                   </div>
	</body>
</html>