<!DOCTYPE html>
<html>
<!--大标题和JS-->
<include file="Public/login/head" />

<!--前左导航-->
<include file="Public/login/body" />

  <div class="layui-body">
    <!-- 内容主体区域 -->
    <include file="Public/login/title" />
    
    <br />
    <div class="layui-card-body">
        <form action="{:U('jrperspointupsuc')}" enctype="multipart/form-data" method="post" class="layui-form" >
         <table class="layui-table" lay-size="" style="width: 90%">
         	<input type="hidden" name="gonghao" value="{$data[0]['gonghao']}">
         	<tr>
         		<th style="text-align:center;">区</th>
         		<th style="text-align:center;">单位</th>
         		<th style="text-align:center;">职务</th>
         		<th style="text-align:center;">姓名</th>
         		<th style="text-align:center;">项目</th>
         		<th style="text-align:center;">分值</th>
         		<th style="text-align:center;">业绩</th>
         		<th style="text-align:center;">总分</th>
         		<!--<th style="text-align:center;">操作</th>-->
         	</tr>
         	<volist name="data" id="vo">
         	<tr>
         		<input type="hidden" name="pointsumid[]" value="{$vo.pointsumid}">
         		<input type="hidden" name="point[]" value="{$vo.point}">
         		<input type="hidden" name="score[]" value="{$vo.score}" />
         		<th style="text-align:center;">{$vo.district}</th>
         		<th style="text-align:center;">{$vo.dwname}</th>
         		<th style="text-align:center;">{$vo.zhiwu}</th>
         		<th style="text-align:center;">{$vo.persname}</th>
         		<td style="text-align:center;">{$vo.content}</td>
         		<td style="text-align:center;">{$vo.score}</td>
         		<td style="text-align:center;"><input type="text" name="points[]" value="{$vo.point}" class="layui-text"></td>
         		<td style="text-align:center;">{$vo.sum}</td>
         		<!--<td style="text-align:center;"><a href="__URL__/jrperspointups/pointsumid/{$vo.pointsumid}"><font color="#FF0000">修改</font></td>-->
         	</tr>
         	</volist>
         </table>
         <br />
         <div class="layui-form-item" style="margin-left:300px;">
           <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo">立即审核</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
           </div>
         </div>
        </form>
        </div>
  </div>
<!--底部-->
<include file="Public/login/footer" />