<!DOCTYPE html>
<html>
<!--大标题和JS-->
<include file="Public/head" />

<!--前左导航-->
<include file="Public/body" />

  <div class="layui-body">
    <!-- 内容主体区域 -->
    <include file="Public/login/title" />
    
    <br />
    <div class="layui-card-body">
						<table class="layui-table" style="text-align: center; width: 100%;">
					      <!--<colgroup>
					       <col width="10%">
					       <col width="10%">
					       <col width="7%">
					       <col width="10%">
					       <col width="10%">
					       <col width="10%">
					       <col width="8%">
					       <col width="8%">
					       <col width="15%">
					       <col width="8%">
					       <col width="10%">
					      </colgroup>-->
					    <tr>
					    	<td>区县</td>
								<td>部门</td>
								<td>姓名</td>
								<td>工号</td>
								<td>职务</td>
								<td>工种</td>
								<td>操作</td>
							</tr>
							<volist name="data" id="vo">
							<tr>
								<td>{$vo.district}</td>
								<td>{$vo.dwname}</td>
								<td>{$vo.persname}</td>
								<td>{$vo.gonghao}</td>
								<td>{$vo.zhiwu}</td>
								<td>{$vo.gongzhong}</td>
								<td onclick="pm('{$vo.gonghao}')"><a href="#"><font color="#ff0000">积分查询</font></a></td>
							</tr>
							</volist>
					  </table>
  </div>
  </div>
  
<!--底部-->
<div class="layui-footer">
    <!-- 底部固定区域 -->
    © 瑞安市金融积分考核系统
  </div>
</div>
<script src="/rafin/Public/layui.all.js"></script>
<script>
//JavaScript代码区域
layui.use('element', function(){
  var element = layui.element;
  
});
layui.use('laydate', function(){
  var laydate = layui.laydate;
  
  //执行一个laydate实例
  laydate.render({
    elem: '#date' //指定元素
  });
  
    laydate.render({
    elem: '#date1' //指定元素
  });
    laydate.render({
    elem: '#date3' //指定元素
    ,type: 'month'
  });
    
  laydate.render({
  	elem: '#test6'
  	,range: true
});
});
</script>
<script>
	function pm(value){
		layer.open({
		    type: 2 //此处以iframe举例
		    ,title: '员工积分修改'
		    ,area: ['1000px', '600px']
		    ,shade: 0
		    ,maxmin: true
		        
		    ,content: '__URL__/persjghmodify/gonghao/' + value
		    ,btn: ['全部关闭'] //只是为了演示
		        
		    ,btn2: function(){
		        layer.closeAll();
		    }
		        
		    ,zIndex: layer.zIndex //重点1
		    ,success: function(layero){
		        layer.setTop(layero); //重点2
		    }
		});
	}
</script>
</body>
</html>