<!DOCTYPE html>
<html>
<!--大标题和JS-->
<include file="Public/head" />
<!--前左导航-->


    <!-- 内容主体区域 -->
    <include file="Public/login/title" />
    
    <br />
        <form action="{:U('pointitemaddsuc')}" enctype="multipart/form-data" method="post" class="layui-form" >
        <div class="layui-card" style="width: 50%;">
        	<div class="layui-card-header">
        		<font size="4">积分项目大类添加</font>
        	</div>
        <div class="layui-card-body">
        <table class="layui-table" lay-size="">
         	<tr>
         	  <th>项目大类名称</th>
         	 <td>
         	 	<input type="text" name="item" lay-verify="required" required placeholder="请输入项目大类名称" autocomplete="off" class="layui-input">
         	 </td>
         	 </tr>
         	 <tr>
         	 <th>备注</th>
         	 <td><input type="text" name="beizhu" placeholder="可选填" autocomplete="off" class="layui-input"> </td>
         	</tr>
         </table>
        </div>
         </div>
         <br />
         <div class="layui-form-item" style="margin-left:360px;">
           <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo">立即添加</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
           </div>
         </div>
        </form>

  
<!--底部-->
<include file="Public/footer" />