<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>余杭邮政人力考核系统</title>
<link rel="stylesheet" href="/cost/Public/Admin/css/style.default.css" type="text/css" />
<link rel="stylesheet" href="/cost/Public/css/layui.css">
<script type="text/javascript" src="/cost/Public/Admin/js/plugins/jquery-1.7.min.js"></script>
<script type="text/javascript" src="/cost/Public/Admin/js/plugins/jquery-ui-1.8.16.custom.min.js"></script>
<script type="text/javascript" src="/cost/Public/Admin/js/plugins/jquery.cookie.js"></script>
<script type="text/javascript" src="/cost/Public/Admin/js/plugins/jquery.uniform.min.js"></script>
<script type="text/javascript" src="/cost/Public/Admin/js/plugins/jquery.validate.min.js"></script>
<script type="text/javascript" src="/cost/Public/Admin/js/plugins/jquery.tagsinput.min.js"></script>
<script type="text/javascript" src="/cost/Public/Admin/js/plugins/charCount.js"></script>
<script type="text/javascript" src="/cost/Public/Admin/js/plugins/ui.spinner.min.js"></script>
<script type="text/javascript" src="/cost/Public/Admin/js/plugins/chosen.jquery.min.js"></script>
<script type="text/javascript" src="/cost/Public/Admin/js/custom/general.js"></script>
<script type="text/javascript" src="/cost/Public/Admin/js/custom/forms.js"></script>


<!--[if IE 9]>
    <link rel="stylesheet" media="screen" href="css/style.ie9.css"/>
<![endif]-->
<!--[if IE 8]>
    <link rel="stylesheet" media="screen" href="css/style.ie8.css"/>
<![endif]-->
<!--[if lt IE 9]>
	<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
<![endif]-->