<!DOCTYPE html>
<html>
<!--大标题和JS-->
<include file="Public/Admin/head" />

<!--前左导航-->
<include file="Public/Admin/body" />

  <div class="layui-body">
    <!-- 内容主体区域 -->
    <h1><div style="padding: 15px;">余杭区邮政费用分摊系统</div></h1>
    
    	<fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
			  <legend>网点积分卡入库 | {$drr[0]['dwname']}</legend>
			</fieldset>
    	<form class="layui-form layui-form-pane" action="{:U('pointcardwdsuc')}" method="post">
    		<input type="hidden" name="jgh" value="{$drr[0]['jgh']}">
    		<input type="hidden" name="dwname" value="{$drr[0]['dwnames']}">
    		<div class="layui-form-item" style="margin-left:50px; margin-top: 50px;">
        	<label class="layui-form-label">卡号范围</label>
			      <div class="layui-input-inline" style="width: 200px;">
			        <input type="text" name="price_min" value="{$clrr[0][username]}" required lay-verify="number" placeholder="{$clrr[0][username]}" autocomplete="off" class="layui-input">
			      </div>
			      <div class="layui-form-mid">-</div>
			      <div class="layui-input-inline" style="width: 200px;">
			        <input type="text" name="price_max" required lay-verify="number" placeholder="{$clrr[0][username]}" autocomplete="off" class="layui-input">
			      </div>
			    
        </div>
    		<br />
    		<br />
    		<div class="layui-form-item" style="margin-left:50px;">
           <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo">立即入库</button>
           </div>
         </div>
         </div>
      </form>
  </div>
  
<!--底部-->
<include file="Public/Admin/footer" />