<!DOCTYPE html>
<html>
<!--大标题和JS-->
<include file="Public/head" />

<!--前左导航-->
<include file="Public/body" />

  <div class="layui-body">
    <!-- 内容主体区域 -->
	<include file="Public/title" />

        <form action="{:U('clientsearchsuc')}" enctype="multipart/form-data" method="post" class="layui-form" >
        <div class="layui-card" style="width: 100%;">
        	<div class="layui-card-header">
        		<font size="4">保险客户报表生成</font>
        	</div>
        <div class="layui-card-body">
        
         
         <table class="layui-table" style="text-align: center; width: 100%;">
					      <!--<colgroup>
					       <col width="10%">
					       <col width="10%">
					       <col width="7%">
					       <col width="10%">
					       <col width="10%">
					       <col width="10%">
					       <col width="8%">
					       <col width="8%">
					       <col width="15%">
					       <col width="8%">
					       <col width="10%">
					      </colgroup>-->
					    <tr>
					    	<td>姓名</td>
								<td>购买险种</td>
								<td>保险公司</td>
								<td>缴费方式</td>
								<td>最低退保</td>
								<td>投保金额</td>
								<td>出单渠道</td>
								<td>促成方式</td>
								<td>投保日期</td>
								<td>到期日期</td>
								<td>销售人员</td>
								<td>状态</td>
								<td>备注</td>
							</tr>
							<volist name="data" id="vo">
							<tr>
								<td>{$vo.client}</td>
								<td>{$vo.type}</td>
								<td>{$vo.insurance}</td>
								<td>{$vo.payment}年</td>
								<td>{$vo.duration}年</td>
								<td>{$vo.money}万</td>
								<td>{$vo.channels}</td>
								<td>{$vo.facilitates}</td>
								<td>{$vo.insdate}</td>
								<td>{$vo.insdates}</td>
								<td>{$vo.service}({$vo.percentages})|{$vo.servicebak}({$vo.percentagebaks})</td>
								<if condition="$vo.stats eq 0">
									<td>在保</td>
								</if>
								<if condition="$vo.stats eq 1">
									<td><font color="#CC0000">犹豫期退保</font></td>
								</if>
								<if condition="$vo.stats eq 2">
									<td><font color="#CC0000">中途退保</font></td>
								</if>
								<if condition="$vo.stats eq 3">
									<td>满期给付</td>
								</if>
								<td>{$vo.beizhu}</td>
							 </tr>
							</volist>
					  </table>
         </div>
         </div>
         <br />
        </form>
  </div>
  <div class="layui-footer">
    <!-- 底部固定区域 -->
    © 余杭区邮政保险理财客户管理
  </div>
<script src="/ins/Public/layui.all.js"></script>

<script>
	
	layui.use('element', function(){
  var element = layui.element;
  
	});
	
	layui.use('form', function(){
	  var form = layui.form;
	  //获取types1控件中的数据
		form.on('select(types1)', function(data){
			var datas = eval({$insr});
			for(i = 0 ; i < datas.length ; i++){
				
				if(data.value == datas[i].insuranceid){
					document.getElementById("payment2").value = datas[i].pay + '年';
					
					document.getElementById("duration2").value = datas[i].dur + '年';
					
					//alert(datas[i].dur);
					break;
				}
			}
			
		});
  
	});
	layui.use('laydate', function(){
	  var laydate = layui.laydate;
	  
	  //执行一个laydate实例
	  laydate.render({
	    elem: '#date' //指定元素
	  });
	  laydate.render({
	  	elem: '#test6'
	  	,range: true
		});
	});
	
	layui.use('form', function(){
	  var form = layui.form;
	  //获取types1控件中的数据
		form.on('select(servicebak1)', function(data){
			if(document.getElementById("xszb").style.visibility == "visible"){
				
			}else{
				document.getElementById("xszb").style.visibility = "visible";
				document.getElementById("xszb1").style.visibility = "visible";
				document.getElementById("percentagebak").value = "0.5";
			}
			
			
		});
  
	});
	
</script>
<!--底部-->
</body>
</html>