<!DOCTYPE html>
<html>
<!--大标题和JS-->
<include file="Public/head" />

<!--前左导航-->
<include file="Public/body" />

  <div class="layui-body">
    <!-- 内容主体区域 -->
    <h1><div style="padding: 15px;">余杭区邮政存货管理系统</div></h1>
    
    <br />
    			<table class="layui-table" style="text-align: center; width: 100%;">
					      <!--<colgroup>
					       <col width="12%">
					       <col width="8%">
					       <col width="10%">
					       <col width="7%">
					       <col width="5%">
					       <col width="10%">
					       <col width="8%">
					       <col width="15%">
					      </colgroup>-->
					    <tr>
								<td>单位名称</td>
								<td>产品名称</td>
								<td>仓库名称</td>
								
								<td>含税单价(元)</td>
								<td>入库数量</td>
								<td>请领时间</td>
								<td>操作</td>
							</tr>
							<volist name="data" id="vo">
							<form class="layui-form" name="formib" id="a{$vo.inboundid}" method="post" style="width: 100%;">
							<tr>
								<input type="hidden" name="inboundid" value="{$vo.inboundid}">
								<!--<td><input type="checkbox" name="id[]" value="{$vo.pianquname}" lay-skin="primary"></td>-->
								<td>{$vo.dwname}</td>
								<td>
									<select name="productid" lay-verify="required" lay-search>
			         	 		<option value="{$vo.productid}">{$vo.productname}</option>
			         	 		<volist name="cprr" id="vop">
			              <option value="{$vop.productid}">{$vop.productname}</option>
			             </volist>
			            </select>
								</td>
								<td>
									<select name="warehouseid" lay-verify="required" lay-search>
			         	 		<option value="{$vo.warehouseid}">{$vo.warehouse}</option>
			         	 		<volist name="cwrr" id="vow">
			              <option value="{$vow.warehouseid}">{$vow.warehouse}</option>
			             </volist>
			            </select>
								</td>
								<td><input type="text" name="unitprice" required lay-verify="required" value="{$vo.unitprice}" placeholder="请输入单价" autocomplete="off" class="layui-input"></td>
								<td><input type="text" name="quantity" required lay-verify="required" value="{$vo.quantity}" placeholder="请输入实际入库数量" autocomplete="off" class="layui-input"></td>
								<td>{$vo.date}</td>
								<td><input type="button" class="layui-btn" value="修改" onclick="a{$vo.inboundid}()" lay-submit=""><input type="button" class="layui-btn layui-btn-danger" onclick="b{$vo.inboundid}()" value="废弃" lay-submit=""></td>
							</tr>
					  <div class="layui-form-item">
		    <!--<div class="layui-input-block">
		      <button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
		      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
		    </div>-->
		  </div>
		 
  
<script type="text/javascript">
      function a{$vo.inboundid}(){
      	document.getElementById("a{$vo.inboundid}").action = 'inboundmodifys';
        //document.formibs.action = {:U('inboundshs')};
        document.getElementById("a{$vo.inboundid}").submit()
	    }
      function b{$vo.inboundid}(){
      	document.getElementById("a{$vo.inboundid}").action = 'inbounddel';
        //document.formibs.action = {:U('inboundshs')};
        document.getElementById("a{$vo.inboundid}").submit()
      }
</script>
</form>
</volist>
</table>
</div> 
</body>
</html>
<!--<include file="Public/footer" />-->