<!DOCTYPE html>
<html>
<!--大标题和JS-->
<include file="Public/head" />

<!--前左导航-->
<include file="Public/body" />

  <div class="layui-body">
    <!-- 内容主体区域 -->
    <h1><div style="padding: 15px;">余杭区邮政存货管理系统</div></h1>
    
    <br />
    
    			<form class="layui-form layui-form-pane" >
    				<label class="layui-form-label">申请单位</label>
    				<label class="layui-form-label">{$dwname}</label>
    				<label class="layui-form-label">申请数量</label>
    				<label id="ap" class="layui-form-label">{$apply}</label>
    			</form>
					<div style="padding: 25px;">
					</div>
    			<form class="layui-form" action="{:U('outboundsuc')}" name="formib" method="post" style="width: 100%;">
						<table class="layui-table" style="text-align: center; width: 100%;">
					      <!--<colgroup>
					       <col width="12%">
					       <col width="8%">
					       <col width="10%">
					       <col width="7%">
					       <col width="5%">
					       <col width="10%">
					       <col width="8%">
					       <col width="15%">
					      </colgroup>-->
					    <tr>
					    	<td>选择</td>
								<td>申请单位</td>
								<td>产品名称</td>
								<td>仓库名称</td>
								
								<td>申请数量</td>
								<td>实际库存</td>
								<td>入库时间</td>
								<td>备注</td>
							</tr>
							<volist name="data" id="vo">
							
							<tr>
								<input type="hidden" name="productid" value="{$vo.productid}">
								<input type="hidden" name="applyid" value="{$applyid}">
								<input type="hidden" name="dwname" value="{$dwname}">
								<input type="hidden" name="kcquantity" id="d{$vo.kcquantity}" value="{$vo.kcquantity}">
								<td><input type="checkbox" name="inboundid[]" id="b{$vo.inboundid}" value="{$vo.inboundid}" lay-skin="primary"></td>
								<td>{$dwname}</td>
								<td>{$vo.productname}</td>
								<td>{$vo.warehouse}</td>
								<td><input type="text" class="layui-input" readonly="" name="{$vo.inboundid}" id="c{$vo.inboundid}" onblur="a{$vo.inboundid}()" onclick="e{$vo.inboundid}()" lay-verify="" placeholder="请输入实际入库数量" autocomplete="off" ></td>
								<td>{$vo.kcquantity}</td>
								<td>{$vo.datesh}</td>
								<td></td>
							</tr>
							
<script type="text/javascript">
			function e{$vo.inboundid}(){
				<volist name="datas" id="voi">
				if(document.getElementById("b{$voi.inboundid}").checked){
					document.getElementById("c{$voi.inboundid}").removeAttribute("readonly");
				}else{
					document.getElementById("c{$voi.inboundid}").readOnly = 'true';
				}
				</volist>
			}
				
			function a{$vo.inboundid}(){
				var apqt = 0;
				var label = document.getElementById("ap").innerHTML;
				var kcquantity = parseInt(document.getElementById("d{$vo.kcquantity}").value);
				var otqt = parseInt(document.getElementById("c{$vo.inboundid}").value);
				if(kcquantity < otqt){
					alert("出库数量超出库存，请核对数据");
					document.getElementById("c{$vo.inboundid}").value = 0;
				}
				<volist name="datas" id="voi">
				if(document.getElementById("b{$voi.inboundid}").checked){
					//document.getElementById("c{$voi.inboundid}").removeAttribute("disabled");
					apqt += parseInt(document.getElementById("c{$voi.inboundid}").value);
				}
				</volist>
				if(apqt > label){
					alert("出库数量超出申请数量，请核对数据");
					<volist name="datas" id="voi">
						document.getElementById("c{$voi.inboundid}").value = 0;
					</volist>
				}
			}
      
</script>
				</volist>
		    </table>
		    <br />
		    <div class="layui-input-block" style="margin-left:360px;">
		      <button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
		      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
		    </div>
</form>


</div> 
</body>
</html>
<!--<include file="Public/footer" />-->