<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<include file="Public/login/head" />
</head>
<body>
<include file="Public/login/header" />
        <div id="contentwrapper" class="contentwrapper">
            <h3>欢迎您使用人力资源系统</h3>
				
            <!--<ul class="buttonlist">
            <li><a href="xkvaliddl" class="btn btn_orange btn_link"><span>蓄客名单下载</span></a></li>
            <li><a href="zcvaliddl" class="btn btn_orange btn_link"><span>转存流失名单下载</span></a></li>
            <li><a href="zczdvaliddl" class="btn btn_orange btn_link"><span>自动转存名单下载</span></a></li>-->
        </div>
	</body>
<include file="Public/login/footer" />
</html>