<!DOCTYPE html>
<html>
<!--大标题和JS-->
<include file="Public/head" />

<!--前左导航-->
<include file="Public/body" />

  <div class="layui-body">
    <!-- 内容主体区域 -->
    <include file="Public/login/title" />
    
    	<fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
			  <legend>{$data[0]['dwnames']}</legend>
			</fieldset>
    	<form class="layui-form layui-form-pane" action="{:U('bonusmodifys')}" method="post">
    		<input type="hidden" value="{$data[0]['bonuslistid']}" name="bonuslistid">
    		<div class="layui-form-item" style="margin-left:50px;">
			    <div class="layui-inline">
			      <label class="layui-form-label">奖金池</label>
			      <div class="layui-input-block">
			      	<!-- <input type="hidden" name="dateauthid" value="{$data[0]['dateauthid']}" /> -->
			        <input type="text" name="bonus" lay-verify="number" value="{$data[0]['bonus']}" autocomplete="off" class="layui-input">
			      </div>
			    </div>
    		</div>
    		<br />
    		<br />
    		<div class="layui-form-item" style="margin-left:50px;">
           <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo">立即修改</button>
           </div>
         </div>
      </form>
  </div>
  
<!--底部-->
<include file="Public/footer" />